# Rust/Cargo
src-tauri/target/
Cargo.lock

# Tauri
src-tauri/WixTools/

# Node
node_modules/
dist/
dist-ssr/

# Electron
release/
*.blockmap
*.asar

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temp
*.tmp
*.temp
